<mat-toolbar color="accent" class="top-bar mat-elevation-z4">
  <mat-toolbar-row style="display: flex; justify-content: space-between; align-items: center;">
    <span>Dove 🕊️ <small>({{ version }})</small></span>
    <button mat-flat-button color="primary" [disabled]="!osdFrames" (click)="downloadOsdAsCsv()" *ngIf="osdFrames">
      <mat-icon>download</mat-icon>
      <span>Export OSD data</span>
    </button>
  </mat-toolbar-row>
  <mat-progress-bar mode="indeterminate" style="position: absolute; bottom: 0;" *ngIf="loading"></mat-progress-bar>
</mat-toolbar>

<div class="content">
  <div class="map">
    <app-map [osdFrames]="osdFrames" [osdStats]="osdStats" [sliderPosition]="sliderPosition"></app-map>
  </div>
  <div class="video">
    <app-video [osdFrames]="osdFrames" [sliderPosition]="sliderPosition" [videoFileName]="videoFileName"></app-video>
  </div>
  <div class="ddd-player">
    <app-ddd-view [osdFrames]="osdFrames" [osdStats]="osdStats" [sliderPosition]="sliderPosition"></app-ddd-view>
  </div>
  <div class="raw-data">
    <app-raw-data [osdFrames]="osdFrames" [sliderPosition]="sliderPosition"></app-raw-data>
  </div>
</div>

<mat-toolbar color="accent" class="slider-bar mat-elevation-z4">
  <button mat-icon-button (click)="togglePlay()">
    <mat-icon>{{ recordPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  <span class="time-text">{{ getCurrentTime() }}</span>
  <mat-slider min="0" [max]="osdFrames ? osdFrames.length - 1 : 0" step="1">
    <input matSliderThumb [(ngModel)]="sliderPosition">
  </mat-slider>
  <span class="time-text">{{ endText }}</span>
  <button mat-icon-button [matMenuTriggerFor]="playbackSpeedMenu" class="playback-speed-text">
    {{ playbackSpeeds[playbackSpeedIndex] }}x
  </button>
  <mat-menu #playbackSpeedMenu="matMenu">
    <button mat-menu-item (click)="changePlaybackSpeed(i)" *ngFor="let speed of playbackSpeeds; let i = index">
      <span>{{ speed }}</span>
    </button>
  </mat-menu>
</mat-toolbar>

<button mat-fab [extended]="!loading" color="primary" class="upload-button" (click)="openUploadSheet()" *ngIf="!(osdFrames && videoFileName)">
  <mat-spinner color="accent" diameter="20" *ngIf="loading"></mat-spinner>
  <mat-icon *ngIf="!loading">add</mat-icon>
  <span *ngIf="!loading">Add data</span>
</button>

<button mat-fab extended color="accent" class="upload-button" (click)="reset()" *ngIf="osdFrames && videoFileName">
  <mat-icon>refresh</mat-icon>
  Reset all
</button>