@import '../../../styles.scss';

.list {
    padding: 32px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 0px;
    
        .key {
            color: #FFFFFF;
            width: 50%;
        }
    
        .value {
            width: 50%;
            color: mat-color($color-primary);
        }
    }
}

.container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

app-warning-text {
    margin-top: -64px !important;
}