mat-list-item {
    mat-icon {
        display: flex !important;
        height: 100%;
        margin: 0px !important;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
    }
}