@import '../../../styles.scss';

.video-container {
    background-color: mat-color($color-accent-dark);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    video {
        width: 100%;
    }
}

:host {
    height: 100%;
}